:root {
    /* --clr-fontClr: #248232; */
    --clr-mainBackground: #2d3a3a;
    --clr-accent: #2ba84a;
    --clr-offWhite: #FAF9F6;
    --clr-tomatillo: #BFDF8E;
    --clr-tomatilloSalsa: #BBB085;
    --clr-cilantro: #43544B;
    --clr-cilantroCompliment1: #54434B;
    --clr-cilantroCompliment2: #8E322D;
    --clr-cilantroLime: #2F8735;
    --clr-movieInfoBackground: rgba(75, 75, 75 , .8); 
  }

.movie-detail-container {
    position: absolute;
    display: flex;
    height: 100vh;
    width: 100%;
    /* justify-content: center; */
    /* background-color: var(--clr-mainBackground); */
}

.movie-detail-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

   
}

.backdrop-img-container {
    height: 60%;
    width: 100%;
    overflow: hidden;
    background-color: var(--clr-mainBackground);
}

.backdrop-img-container img {
    height: auto;
    inline-size: 100%;
    object-fit: cover;
}


/* movie info container */
.movie-info-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
    margin-right: 0; 
}

/* movie poster container */
.movie-poster-container{
    height: 24rem;
    background: rgba(75, 75, 75 , .8);
    display: flex;
    flex-direction: row;
    width: 17rem;
    align-items: center;
    justify-content: center;
    /* opacity: .8; */
    border-radius: 10px;
    margin-right: 10px;
}

.movie-poster {
    height: 100%;
    max-width: 15rem;
    
}

.movie-poster img{
    height: auto;
    inline-size: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
    
}

/* movie description */

.movie-description-container {
    width: 70%;
    height: 100%;
    background-color: rgba(75, 75, 75 , .8);
 
    border-radius: 10px;
}


.release-date {
    font-size: .9rem;
}

.overview {
    font-size: .9rem;
}

.avg-rating {
    font-size: .9rem;
}

.genre {
    font-size: .9rem;
}

.budget {
    font-size: .9rem;
}

.revenue {
    font-size: .9rem;
}

.runtime {
    font-size: .9rem;
}

.tagline {
    font-size: .9rem;
}
/* Movie-video-container*/ 
.video-container{
    /* width: 40rem; 
    height: 50rem; */
    aspect-ratio: 16/9;
    display:flex; 
    justify-content: center;
    /* margin-left: 23rem; */
    margin-top: 1.5rem;
    background-color: var(--clr-movieInfoBackground);
    padding: 14px;
    border-radius: 10px;
}