.title {
  font-size: 4.2rem;
}

.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  align-items: center;
  background: linear-gradient(318.68deg, #54434b 0%, #43544b 49.72%, #2d3a3a 100%);
  display: flex;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 25vh;
}

@media (max-width: 600px) {
  header {
    font-size: auto;
    min-height: none;
  }
  .title {
    font-size: inherit;
  }
}

.active {
  background-color: var(--clr-cilantro);
}

.active:hover {
  color: var(--clr-cilantroLime);
}

.Navbar {
  background-color: var(--clr-mainBackground);
}

@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa, 0 0 80px #0fa,
      0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}
