*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--clr-fontClr);
}

:root {
  --clr-fontClr: #248232;
  --clr-mainBackground: #2d3a3a;
  --clr-accent: #2ba84a;
  --clr-offWhite: #FAF9F6;
}

.Navbar{
    /* background-color: rgb(84, 83, 83); */
    background-color: var(--clr-mainBackground);
}
button {
    color: var(--clr-offWhite);
    background-color: var(--clr-accent);
}